---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import ProjectCard from '../components/ProjectCard.astro';
import '../styles/globals.css'

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mohammed Hamza</title>
  </head>
  <body>
    <Header />
    <Body/>
    <Footer />
    <a href="/about.astro">about</a>
  </body>
</html>