---
---

<main>
  <!-- Hero Section -->
  <section id="hero" class="flex flex-col justify-center items-center md:flex-row hero-section min-w-full">
    <div class="container align-basement mx-auto md:text-left py-10 md:py-20">
      <p class="text-5xl font-bold mb-4">Hi there!</p>
      <p class="text-5xl font-medium mb-4">I'm Mohammed Hamza, a Medicore Engineer <br> with some cool projects and idea.</p>
      <a href="#projects" class="btn btn-primary">If you're looking to hire me for dirt cheep drop me text here</a>
    </div>
    <div class="w-full md:w-1/2 mx-auto text-center md:text-right py-10 md:py-20">
      <img  src="src/assets/images/hero.jpeg" alt="Hero Image" class="w-full h-auto justify-center">
    </div>
  </section>

<style>
  /* .hero-section {
    background: liner-gradient(circle, rgba(48, 59, 63, 0.5), rgba(0,0,0,0.5));
    background-size: cover;
    color: white;
  } */
  img{
    border-radius: 25%;
    width: 200px;
    height: 200px;
  }
</style>