---
---

<header>
    <nav class="col-span-full grid w-full grid-cols-subgrid max-md:place-items-center">
      <a href="/" class="w-fit text-2xl font-bold" transition:name="nav-logo">
        Mohammed <span class="whitespace-nowrap">Hamza</span>
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  <style>
    header {
      background-color: grey;
      color: white;
      padding: 1rem;
    }
    nav ul {
      list-style: none;
      display: flex;
      gap: 1rem;
    }
    nav a {
      color: white;
      text-decoration: none;
    }
  </style>