---

---

<header>
    <nav class="grid w-full grid-cols-3 ">

      <a href="/about" class="w-fit text-2xl font-bold col-start-1" transition:name="nav-logo">
        
        
        Mohammed <span class="whitespace-nowrap">Hamza</span>
      </a>
      <div class="col-start-2 flex justify-center items-center ">
        <!-- Middle element content here -->
        <ul class="col-start-3 flex justify-center bg-slate-500 rounded-xl p-2">
          <li class="nav-cen-item"><a href="/">Home</a></li>
          <li class="nav-cen-item"><a href="/about.astro">About</a></li>
          <li class="nav-cen-item"><a href="/projects">Projects</a></li>
          <li class="nav-cen-item"><a href="/contact">Contacts</a></li>
        </ul>
      </div>
      <div class="col-start-3 flex justify-end">
        <!-- <Button variant="outline" size="icon">
          <Linkedin className="h-4 w-4" />
        </Button> -->
        <a href="/public/resume.pdf" download>
          <button>CV</button>
        </a>
      </div>
      
    </nav>
  </header>
  sad
  <style>
    header {
      background-color: rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      padding: 1rem;
      display: flex;
    }
    nav ul {
      list-style: none;
      display: flex;
      gap: 1rem;
    }
    nav a {
      color: white;
      text-decoration: none;
    }
    nav a:hover {
      text-decoration: underline;
    }
    nav a::after{
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: white;
      transition: width 0.3s;
    }
  </style>